@import "tailwindcss";

@font-face {
  font-family: "StoryScript-Regular";
  src: url("/fonts/StoryScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Literata";
  src: url("/fonts/Literata/Literata-VariableFont.ttf")
    format("truetype-variations");
}

@font-face {
  font-family: "Literata-Italic";
  src: url("/fonts/Literata/Literata-Italic-VariableFont.ttf")
    format("truetype-variations");
}

@theme {
  --color-yellow-bg: #faf4e7;
  --color-dark-green: #4b6a5d;
  --color-dark-slate: #2f4f4f;
  --color-olive-green: #a49463;
  --color-light-olive-green: #e9e5dc;
  --font-story-script: "StoryScript-Regular";
  --font-literata: "Literata";
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  @apply text-dark-slate;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-lg font-bold;
}

p {
  @apply text-lg text-balance;
}

.post-img {
  @apply shadow rounded;
}

.divider {
  width: 100%;
  background: linear-gradient(to right, #4a6741, #b8b2a7);
  height: 3px;
  border-radius: 2px;
}
