---
import MainLayout from "../layouts/MainLayout.astro";
import AboutImage from "../assets/blogs/about.jpeg?url";
import ArtVideo from "../assets/blogs/art.MOV?url";
import { Icon } from "astro-icon/components";
---

<MainLayout
  title="DavidMBlog - Acerca de mí"
  description="Conoce más sobre David M, su pasión por la tecnología y su misión de compartir conocimientos a través de este blog."
  headerImage={AboutImage}
>
  <main class="flex gap-10 max-w-[1000px]">
    <a
      href="https://www.instagram.com/david_nmb/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <figure
        class="px-2 pt-2 pb-10 bg-white w-[320px] h-[420px] rounded shadow-lg"
      >
        <video
          src={ArtVideo}
          class="w-full object-cover h-full rounded"
          autoplay
          muted
          loop></video>

        <figcaption
          class="flex gap-1 pt-2 justify-center items-center font-story-script text-xl text-dark-green"
        >
          <Icon
            color="#4b6a5d"
            width={24}
            height={24}
            name="bxl:instagram-alt"
          />
          david_nmb
        </figcaption>
      </figure>
    </a>
    <div class="font-literata w-full flex flex-col gap-3 text-balance">
      <h1 class="text-4xl font-bold">Acerca de mí</h1>
      <p class="text-lg text-balance">
        ¡Hola! Soy David Montaño, y si están aquí posiblemente quieran saber un
        poco del origen de esta idea y tal vez el porqué.
      </p>
      <p class="text-lg text-balance"></p>
      <p class="text-lg text-balance">
        Desde pequeño, siempre he destacado por mi curiosidad, tratar de
        explorar y entender la raíz del ambiente que me rodea. A lo largo de mi
        carrera he desempeñado diferentes cargos como desarrollador, he liderado
        diferentes proyectos como front end. Sin embargo, disfruto ampliamente
        el hecho de compartir, y enseñar aquello que me apasiona.
      </p>
      <p class="text-lg text-balance">
        Es por eso que he decidido crear este espacio, uno diseñado para hablar
        sobre tecnología, y aquellas reflexiones que me guiaron al lugar en
        donde estoy. Tengo la intención de plasmar aquí mi manera de expresar el
        arte, de representar con cada color, con cada fotografía, y con cada
        escrito una conexión entre el lector y yo.
      </p>
      <p class="text-lg mb-10">Espero, puedan disfrutarlo de la misma manera que yo disfrute llevando este proyecto a una realidad. 🤍</p>
    </div>
  </main>
</MainLayout>
