---
import { Icon } from "astro-icon/components";

const today = new Date();
---

<footer class="bg-dark-slate text-xs">
  &copy; {today.getFullYear()} David Montaño. Licencia MIT.
  <div class="social-links">
    <a
      class="text-white"
      href="https://www.instagram.com/david_nmb/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="sr-only">Ir a Instagram</span>
      <Icon color="#E0E0E0" class="icon" name="bxl:instagram-alt" />
    </a>
    <a
      href="https://www.linkedin.com/in/nelson-david-montaño-barajas-638385291/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="sr-only">Ir a LinkedIn</span>
      <Icon color="#E0E0E0" class="icon" name="bxl:linkedin-square" />
    </a>
    <a href="https://github.com/ndavidmb" target="_blank" rel="noopener noreferrer">
      <span class="sr-only">Ir a GitHub</span>
      <Icon color="#E0E0E0" class="icon" name="bxl:github" />
    </a>
  </div>
</footer>
<style>
  @reference "../styles/global.css";
  footer {
    padding: 2em 1em 6em 1em;
    text-align: center;
    @apply rounded-t-2xl w-full mt-5 md:mt-32 text-center text-[#E0E0E0];
  }

  .icon {
    @apply w-8 h-8 md:w-11 md:h-11;
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
