---
import { Icon } from "astro-icon/components";

const today = new Date();
---

<footer class="bg-dark-slate">
  &copy; {today.getFullYear()} David Montaño. Licencia MIT.
  <div class="social-links">
    <a
      class="text-white"
      href="https://www.instagram.com/david_nmb/"
      target="_blank"
    >
      <span class="sr-only">Follow Astro on Instagram</span>
      <Icon color="#E0E0E0" width={42} height={42} name="bxl:instagram-alt" />
    </a>
    <a href="https://github.com/ndavidmb" target="_blank">
      <span class="sr-only">Go to Astro's GitHub repo</span>
      <Icon color="#E0E0E0" width={42} height={42} name="bxl:github" />
    </a>
  </div>
</footer>
<style>
  @reference "../styles/global.css";
  footer {
    padding: 2em 1em 6em 1em;
    text-align: center;
    @apply rounded-t-2xl w-full mt-32 text-center text-[#E0E0E0];
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
