---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav
    class="absolute top-10 left-0 right-0 w-[900px] mx-auto flex z-10 bg-light-olive-green shadow-lg text-dark-green rounded-2xl px-10 py-3 justify-between items-center"
  >
    <span class="font-story-script text-3xl">DavidMBlog</span>
    <div class="flex gap-10 text-lg font-literata">
      <HeaderLink href="/">Posts</HeaderLink>
      <HeaderLink href="/blog">Software</HeaderLink>
      <HeaderLink href="/about">Lifestyle</HeaderLink>
    </div>
  </nav>
</header>
