---
import { Content } from "../../markdown-posts/el-principe-del-tiktok/el-principe-del-tiktok.md";
import MainLayout from "../../layouts/MainLayout.astro";
import Photo from "../../assets/blogs/el-principe-de-tiktok.jpeg?url";
import PlayerFooter from "../../components/PlayerFooter.vue";
import { Icon } from "astro-icon/components";
import Romantic from "../../assets/sound/romantic.mp3?url";
import Image from "../../assets/home/el-principe-de-tiktok.png?url";
---

<MainLayout
  title="DavidMBlog - El príncipe de TikTok"
  description=""
  headerImage={Photo}
>
  <main class="font-literata w-full flex flex-col items-center">
    <div
      class="w-full flex justify-center sticky bg-yellow-bg/70 py-2 md:py-5 backdrop-blur-md top-0"
    >
      <div class="w-[900px] px-10 md:px-0 text-start">
        <h1>El príncipe de TikTok</h1>
      </div>
    </div>
    <div class="max-w-[900px] w-full px-10 md:px-0 flex flex-col gap-5">
      <Content />
    </div>
  </main>

  <PlayerFooter
    image={Image}
    song={Romantic}
    songTitle="Romantic"
    author="Tunetank"
    client:only="vue"
  >
    <Fragment slot="back-icon">
      <Icon width={18} height={18} name="material-symbols:arrow-back-rounded" />
    </Fragment>

    <Fragment slot="play-icon">
      <Icon width={32} height={32} name="material-symbols:play-arrow-rounded" />
    </Fragment>

    <Fragment slot="stop-icon">
      <Icon width={32} height={32} name="material-symbols:pause-rounded" />
    </Fragment>

    <Fragment slot="content-icon">
      <Icon
        width={24}
        height={24}
        name="material-symbols:description-outline-rounded"
      />
    </Fragment>

    <Fragment slot="up-icon">
      <Icon
        width={24}
        height={24}
        name="material-symbols:arrow-upward-alt-rounded"
      />
    </Fragment>
  </PlayerFooter>
</MainLayout>
