---
import MainLayout from "../../layouts/MainLayout.astro";
import HeaderImage from "../../assets/home/header-image.png?url";
import MetaforaDelBarcoContext from "../../assets/blogs/IMG_1364-2.mov?url";
import PrincipeDelTiktokContext from "../../assets/blogs/IMG_1376-1.mov?url";
import DelAmorAlOdioContext from "../../assets/blogs/IMG_1379-1.mov?url";
import Video from "../../components/Video.astro";
import PostArticle from "../../components/PostArticle.astro";
---

<MainLayout
  headerImage={HeaderImage}
  title="DavidMBlog - Home"
  description="Welcome to DavidMBlog, a personal blog about software development and lifestyle."
>
  <main class="max-w-[1100px] mx-auto px-12">
    <!-- Sección -->
    <header class="mb-5 flex items-center gap-2">
      <div class="divider"></div>
      <h2 class="!text-3xl text-dark-green/90">Blogs</h2>
      <div class="divider"></div>
    </header>

    <!-- Grilla de posts -->
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      <PostArticle
        videoUrl={MetaforaDelBarcoContext}
        tag="Reflexión"
        title="La metáfora del barco"
        date="17 de Marzo, 2025"
        blogUrl="/blogs/la-metafora-del-barco"
      />
      <PostArticle
        videoUrl={DelAmorAlOdioContext}
        tag="Reflexión"
        title="Del odio al amor también hay un solo paso"
        date="17 de septiembre, 2025"
        blogUrl="/blogs/del-odio-al-amor"
      />
      <PostArticle
        videoUrl={PrincipeDelTiktokContext}
        tag="Reflexión"
        title="El príncipe de TikTok"
        date="5 de noviembre, 2025"
        blogUrl="/blogs/el-principe-del-tiktok"
      />
    </div>
  </main>
</MainLayout>
