---
import { Content } from "../../markdown-posts/angular-services/angular-services.md";
import MainLayout from "../../layouts/MainLayout.astro";
import AngularPhoto from "../../assets/blogs/servicios-de-angular.jpeg?url";
import PlayerFooter from "../../components/PlayerFooter.vue";
import { Icon } from "astro-icon/components";
import FullOfJoy from "../../assets/sound/full-of-joy.wav?url";
import Image from "../../assets/home/servicios-de-angular-2.png?url";
---

<MainLayout
  title="DavidMBlog - Servicios de Angular"
  description="Explora los diferentes tipos de servicios en Angular y cómo utilizarlos de manera efectiva."
  headerImage={AngularPhoto}
>
  <main class="font-literata w-full flex flex-col items-center">
    <div
      class="w-full flex justify-center sticky bg-yellow-bg/70 py-2 md:py-5 backdrop-blur-md top-0"
    >
      <div class="w-[900px] px-10 md:px-0 text-start">
        <h1>Servicios de Angular mucho más que llamados HTTP</h1>
      </div>
    </div>
    <div class="max-w-[900px] w-full px-10 md:px-0 flex flex-col gap-5">
      <Content />
    </div>
  </main>

  <PlayerFooter
    image={Image}
    song={FullOfJoy}
    songTitle="Full of joy"
    author="MusicLFiles"
    client:only="vue"
  >
    <Fragment slot="back-icon">
      <Icon width={18} height={18} name="material-symbols:arrow-back-rounded" />
    </Fragment>

    <Fragment slot="play-icon">
      <Icon width={32} height={32} name="material-symbols:play-arrow-rounded" />
    </Fragment>

    <Fragment slot="stop-icon">
      <Icon width={32} height={32} name="material-symbols:pause-rounded" />
    </Fragment>

    <Fragment slot="content-icon">
      <Icon
        width={24}
        height={24}
        name="material-symbols:description-outline-rounded"
      />
    </Fragment>

    <Fragment slot="up-icon">
      <Icon
        width={24}
        height={24}
        name="material-symbols:arrow-upward-alt-rounded"
      />
    </Fragment>
  </PlayerFooter>
</MainLayout>
